





<!-- Modal -->
<div class="" id="exampleModalCenter"  ng-init="init()" >

        <div class="modal-header" >
          <h3 class="modal-title" id="exampleModalLongTitle">Registro  Plan unidades</h3>
         
        </div>

        <div class="modal-body">
          
                <div class="col-md-12 sabuesoContainer" >
    
                    <form >
                    <div class="row">
                      

                        <div class="form-group">
                                <label for="" class="control-label">Cantidad:</label>
                                <input type="text" class="form-control" placeholder="Cantidad" ng-model="planUnidadCantidad"  required/>
                            </div>
                            <div class="form-group">
                                    <label for="" class="control-label">Fecha:</label>                       
                                    <input type="date" class="form-control" placeholder="Fecha" ng-model="planUnidadFecha"    required/>
                                </div>

                                <div class="form-group">
                                        <label for="" class="control-label">Cabezal:</label>                       
                                        <select name="" id="" class="form-control" required 
                                        ng-options="estado.id as estado.estadocabezal for estado in estados"
                                        ng-model="planUnidadCabezal" required
                                      ></select>
                                    </div>

                      <div class="form-group">
                                        <label for="" class="control-label">Estado:</label>
                                        
                                                <select class="form-control" ng-options="est.Estado for est in listaEstados() track by est.PK_Estado"  ng-model="planUnidadFK_Estado"  required  >
                                     
                                                </select>
                                              
                                          
                      </div>

                        <div class="form-group"  >
    
                            <button class="btn btn-primary" type="button" ng-click="guardarProyeccionplanunidades()"   >Guardar</button> 
                            <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>

                        </div>

                      

                    </div>
                    </form>
        
        </div>

        

  </div>

<!--:::: FIN Agregar Estados Unidades-->


