<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <h1 class="text-center">Lista de Transferencias</h1>
    </div>
    <div class="col-xs-2"></div>
</div>

<div class="row" ng-controller="TransferenciasController" ng-init="initListar()">
    <div class="col-lg-12">
        <div style="margin-bottom:10px;" class="input-group"><span id="basic-addon1" class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" placeholder="Buscar Transferencia" aria-describedby="basic-addon1" ng-model="FiltroTransferencias" class="form-control"/>
        </div>

        <div style="overflow-y: auto; max-height: 70vh; height: 70vh;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Editar</th>
                    <th>Rastra</th>
                    <th>Vehiculo</th>
                    <th>Conductor</th>
                    <th>Transferencia</th>
                    <th>Fecha/Hora</th>
                    <th>Viaje</th>
                    <th>Ventada Atencion</th>
                    <th>Ventada Retorno</th>
                    <th>Estado Viaje</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transferencia in listaTransferencias() | filter:FiltroTransferencias">
                    <th><button title="Modificar" ng-really-message="¿Desea modificar la Transferencia?" ng-really-click="editar(transferencia)" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button></th>
                    <th>{{transferencia.Rastra}}</th>
                    <th>{{transferencia.Vehiculo}}</th>
                    <th>{{transferencia.Conductor}}</th>
                    <th>{{transferencia.Transferencia}}</th>
                    <th>{{transferencia.FechaHora}}</th>
                    <th>{{transferencia.Viaje}}</th>
                    <th>{{transferencia.VentanaAtencion}}</th>
                    <th>{{transferencia.VentanaRetorno}}</th>
                    <th>{{transferencia.Estado}}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>