//
   Created by Roberto on 17/07/2015.

extends MasterLayout
block Localizacion
   .container-fluid(style="height:100%;")
      .row
         .col-md-9(style="padding-top:15px; margin:0px; padding-left:0px;padding-right:0px; padding-bottom:0px;'")
            block Mapa

         .col-md-3
            block BarraVertical

block pizarron
   p hola :P pizarra