//
   Created by Roberto on 17/07/2015.

extends MasterLayout

block CSS
   style.
      #tabs-2 {
         background-color: #eeeeee;
      }



block JS
   script.


block Localizacion

      .container-fluid(style="padding:0px;")
            .col-md-3(id="BarraVertical" style="padding:2px;" )
               block BarraVertical

            .col-md-9(id="ContenedorMapa" style="margin:0px; padding-left:2px;padding-right:4px; padding-bottom:0px; ")
               block Mapa

block pizarron



