



        <div class="modal-header" >
            <h3 class="modal-title" id="exampleModalLongTitle">Editar Marca vehiculo</h3>
           
          </div>
  
          <div class="modal-body" ng-init="init();">
            
                  
      
                     
                      <div class="row">
                          <div class="form-group">
                              <label for="" class="control-label">Marca:</label>
                              <input type="text" class="form-control" placeholder="Marca" ng-model="marca.Descripcion"   required/>
                          </div>
  

                          <div class="form-group">
                              <label for="" class="control-label">Descripcion:</label>
                              <select name="" id="" class="form-control" 
                              ng-model="marca.TipoVehiculo"  
                              ng-options="dia.vehiculo as dia.vehiculo for dia in tipo" 
                              required ></select>
                           </div>
  
                      </div>
                      
        </div>
          
  
          
          
      <div class="modal-footer">
              <button title="Editar estado unidad" ng-click="editarMarcavehiculo()" class="btn btn-primary" >Editar</button>
          <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
  
      </div>
  
    
  
  <!--:::: FIN Agregar Estados Unidades-->
  