<!-- Modal -->
<div class="" id="exampleModalCenter">

        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Registro tipo falla</h3>
         
        </div>
    
        <div class="modal-body">
          
                <div class="col-md-12 sabuesoContainer" >
    
                    <form >
                    <div class="row">
                        <div class="form-group">
                            <label for="" class="control-label">Falla:</label>
                            <input type="text" class="form-control" placeholder="Falla" ng-model="fallaFalla"    required />
                        </div>
    
                      
                        
                        <div class="form-group">
                            <label for="" class="control-label">Descripcion:</label>
                            <textarea name="" id="" class="form-control" placeholder="Descripcion" ng-model="Descripcionfalla"  required ></textarea><br>
                            <button class="btn btn-primary" type="button" ng-click="guardarfalla()"    >Guardar</button>
                            <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
                        </div>
                        
    
                    </div>
                    </form>
        
        </div>
    
        
        <div class="modal-footer">
       </div>
    
    </div>
    
    <!--:::: FIN Agregar Estados Unidades-->
    
    