html,
body {
  font-size: 16px;
}
#clock {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  border: solid 2px black;
  margin: auto;
  position: relative;
}
#clock div,
.faceBox {
  border: 0;
  position: absolute;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform: rotate(0deg);
}
#clock #hour {
  border-radius: 0.75em 0.75em 0 0;
  width: 1.5em;
  height: 6em;
  top: 9em;
  left: 14.25em;
  background-color: black;
}
#clock #minute {
  border-radius: 0.5em;
  width: 1em;
  height: 11em;
  top: 4em;
  left: 14.5em;
  background-color: black;
}
#clock #second {
  border-radius: 0.25em;
  width: 0.5em;
  height: 14em;
  top: 1em;
  left: 14.75em;
  background-color: black;
}
#clock #center {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  top: 14em;
  left: 14em;
  transform: rotate(0deg);
  background-color: black;
}
.smallTick {
  width: 0.1em;
  height: 0.5em;
  background-color: black;
  margin: 0 1.45em;
}
.mediumTick {
  width: 0.25em;
  height: 0.8em;
  background-color: black;
  margin: 0 1.375em;
}
.largeTick {
  width: 0.4em;
  height: 0.8em;
  background-color: black;
  position: relative;
  margin: 0 1.3em;
}
.tickNum {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 0;
  color: black;
  position: relative;
  top: 1em;
  left: 0;
  padding: 0 0.5em;
}
div.faceBox {
  border: 0;
  width: 3em;
  height: 15em;
  top: 0;
  left: 13.5em;
  position: absolute;
  text-align: center;
  overflow: visible;
}
