



<!-- Modal -->

<div class="modal-header"  ng-init="init()">
        <h3 class="modal-title" id="exampleModalLongTitle">Registro Modelo unidades</h3>
       
      </div>
    
      <div class="modal-body"   >
        
              <div class="col-md-12 sabuesoContainer" >
    
                  <form >
                  <div class="row">
                      <div class="form-group">
                          <label for="" class="control-label">Vehiculo:</label>
                          <select name="" id="" class="form-control" ng-options=" und.Vehiculo for und in listaUnidades() track by und.Imei" ng-model="modund.Imeid" ></select>
                      </div>
    
                    
                      <div class="form-group">
                          <label for="" class="control-label">Modelo:</label>                       
                       <select  class="form-control" ng-options=" modelos.Modelo for modelos in listaModeloVehiculo() track by modelos.pk_ModeloVehiculo" ng-model="modund.FKModelod" ></select>
                            
                       
                      </div>
                    
                       <div class="form-group">
                        <label for="" class="control-label">Año</label>
                        <input type="text" class="form-control" placeholder="Año" ng-model="modund.anio"  >
                       </div>

                       <div class="form-group" >
                        <label for="" class="control-label" >Estado</label>
                        <select name="" id="" class="form-control" ng-options="est.Estado for est in listaEstados() track by est.PK_Estado"  ng-model="modund.PKEstadod" ></select>
                       </div>

                      <div class="form-group"  >
                          <button class="btn btn-primary" type="button" ng-click="guardarModelounidad()"    >Guardar</button>
                          <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
                                        
                      </div>

                  </div>
                  </form>
      
      </div>
    
      
      <div class="modal-footer">
     </div>
    
    </div>
    
    <!--:::: FIN Agregar Estados Unidades-->
    
    