







<!-- Modal -->
<div class="" id="exampleModalCenter"  >

        <div class="modal-header"  ng-init="init()"   >
          <h3 class="modal-title" id="exampleModalLongTitle"  >Editar unidades disponibles</h3>
         
        </div>

        <div class="modal-body"     >
          
                <div class="col-md-12 sabuesoContainer" >
    
                    
                    <div class="row">
                      

                      
                            <div class="form-group">
                                    <label for="" class="control-label">Fecha Asignacion:</label>                       
                                    <input type="date" class="form-control" placeholder="Fecha Asignacion" ng-model="unidadesdisponibles.FechaAsignacion"    required/>
                                </div>

                                <div class="form-group">
                                        <label for="" class="control-label">Fecha Entrega:</label>                       
                                        <input type="date" class="form-control" placeholder="Fecha Entrega" ng-model="unidadesdisponibles.FechaEntrega"    />
                                    </div>
                                <div class="form-group">
                                        <label for="" class="control-label">Unidades:</label>                       
                                        <select name="" id="" class="form-control"  
                                        ng-options="res.NombreCompleto for res in listaUnidades() track by res.UnidadId" ng-model="dataUnidades" required
                                      ></select>
                                    </div>

                      <div class="form-group">
                                        <label for="" class="control-label">Estado:</label>
                                        
                                                <select class="form-control" ng-options="est.Estado for est in listaEstados() track by est.PK_Estado"                        
                                                ng-model="dataEstados"  required >
                                     
                                                </select>
                                              
                                          
                      </div>
                      <div class="form-group">
                            <label for="" class="control-label">Comentario:</label>
                            <textarea name="" id="" class="form-control" placeholder="Comentario" ng-model="unidadesdisponibles.Comentario"  > </textarea>
                        </div>

                           
                    </div>
                    
        
        </div>



        

  </div>

  <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="editarUnidadesdisponibles()"   >Guardar</button> 
        <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>

</div>


</div>
<!--:::: FIN Agregar Estados Unidades-->


