



        <div class="modal-header" >
          <h3 class="modal-title" id="exampleModalLongTitle">Editar turnos</h3>
         
        </div>

        <div class="modal-body" ng-init="init();">
          
                
    
                   
                    <div class="row">
                        <div class="form-group">
                            <label for="" class="control-label">Turnos:</label>
                            <input type="text" class="form-control" placeholder="Turnos" ng-model="turnos.Turno"   required/>
                        </div>

                        <div class="form-group">
                                <label for="" class="control-label">Hora Inicio:</label>
                                <input type="time" class="form-control" placeholder="Hora inicio" ng-model="turnos.HoraInicio"   required/>
                            </div>
                            <div class="form-group">
                                    <label for="" class="control-label">Hora Fin:</label>                       
                                    <input type="time" class="form-control" placeholder="Hora fin" ng-model="turnos.HoraFin"   required/>
                                </div>
                        <div class="form-group">
                            <label for="" class="control-label">Descripcion:</label>
                            <textarea name="" id="" class="form-control" placeholder="Descripcion" ng-model="turnos.Descripcion"   required></textarea><br>
                        </div>

                    </div>
                    
        
        

        
        
    <div class="modal-footer">
            <button title="Editar estado unidad" ng-click="editarTurnos()" class="btn btn-primary" >Editar</button>
        <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>

    </div>

  

<!--:::: FIN Agregar Estados Unidades-->
