<div class="modal-header">
    <h3>Agregar comentario a Detencion</h3>
</div>

<div class="modal-body">
    <label for="" class="form-label">Comentario</label>
    <input type="text" class="form-control" id="Comentario" placeholder="Agregar Comentario" ng-model="comentario">
</div>

<div class="modal-footer">
    <div class="col-xs-6">
        <button type="button" class="btn btn-primary" ng-click="agregarComentario()">Agregar Comentario</button>
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cerrar</button>
    </div>
</div>