


<script>
  /*  $( document ).ready(function() {
        setTimeout(function()
        {
            cargarMapa();
        },500);

    });*/
</script>

<div ng-controller="ControllerGeocercas" >
    <div class="btn-group btn-group2">
        <button type="button" class="btn btn-primary btn-xs">Geocercas</button>
        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-xs dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
        <ul aria-labelledby="dropdownMenu2" class="dropdown-menu">
            <li><a href="#" id="drawLine"><span class="glyphicon glyphicon-pencil"> Crear</span></a></li>
            <li><a href="#" id="editLine"><span class="glyphicon glyphicon-edit"> Modificar</span></a></li>
            <li><a href="#" id="eraseLine"><span class="glyphicon glyphicon-trash"> Eliminar</span></a></li>
        </ul>
    </div>

    <div id="mapa123" calss="mapa123" style="width:100%; height: 58vh;"></div>
</div>