<div class="modal-header">
  <h3>Cambio de contraseña</h3>
</div>

<div class="modal-body">
  <form name="myForm" role="form" ng-submit="cambiarPassword()">


      <div class="col-md-12"><label>Contraseña actual:</label></div>
      <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Contraseña actual" ng-model="currentPassword" required>
          <br />
      </div>

      <div class="col-md-12"><label>Contraseña nueva:</label></div>
      <div class="col-md-12">
          <input name="passNew" type="password"  ng-minlength="6" class="form-control" placeholder="Nueva contraseña" ng-model="newPassword" required>
          <br />
          <p data-ng-show="myForm.passNew.$error.minlength" class="help-block"><span class="text-danger">La Contraseña debe tener minimo 6 caracteres.</span></p>
      </div>

      <div class="col-md-12"><label>Confirmar contraseña:</label></div>
      <div class="col-md-12">
          <input type="password" class="form-control" placeholder="Repita contraseña" ng-model="confirmPassword" required>
          <br />
      </div>

      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Cambiar</button>
          <br />
          <p data-ng-show=" myForm.$submitted && newPassword != confirmPassword" class="help-block"><span class="text-danger"> Las Contraseñas no coinciden.</span></p>
      </div>
     
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" ng-click="$dismiss()">Cerrar</button>
</div>
