


<!-- Modal -->
<div class="" id="exampleModalCenter">

        <div class="modal-header" ng-init="init()" >
          <h3 class="modal-title" id="exampleModalLongTitle">Editar  Plan unidad </h3>
         
        </div>

        <div class="modal-body">
          
                <div class="col-md-12 sabuesoContainer" >
    
                    
                    <div class="row">
                      

                        <div class="form-group">
                                <label for="" class="control-label">Total unidad:</label>
                                <input type="text" class="form-control" placeholder="Total unidad" ng-model="proyeccionplan.TotalUnidades"  required/>
                        </div>
                        <div class="form-group">
                                <label for="" class="control-label">Recarga:</label>
                                <input type="text" class="form-control" placeholder="Recarga" ng-model="proyeccionplan.Recarga"   required/>
                        </div>

                        <div class="form-group">
                                <label for="" class="control-label">Cantidad Recarga:</label>
                                <input type="text" class="form-control" placeholder="Cantidad Recarga" ng-model="proyeccionplan.CantidadRecarga"   required/>
                        </div> 
                        <div class="form-group">
                                <label for="" class="control-label">Fecha:</label>                       
                                <input type="date" class="form-control" placeholder="Fecha"  ng-model="proyeccionplan.Fecha"   required/>
                        </div>

                        <div class="form-group">
                                <label for="" class="control-label">Dia:</label>                       
                                <select name="" id="" class="form-control" 
                                ng-model="proyeccionplan.Dia"  
                                ng-options="dia.dia as dia.dia for dia in tipo" 
                                required ></select>
                        </div>

                        <div class="form-group">
                                <label for="" class="control-label">Destino:</label>                                       
                                <select class="form-control" 
                                ng-options="est.Nombre for est in listaViajeCompleto() track by est.ViajeCompletoId" ng-model="dataViajes">                                   
                                </select>                                          
                        </div>

                                     

                    </div>
                   

                </div>
        </div>

        

        <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="editarproyeccionplan()"    >Guardar</button> 
                <button data-dismiss="modal" data-toggle="tooltip" data-placement="left" title="Cancelar" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
        </div>

  </div>

<!--:::: FIN Agregar Estados Unidades-->


